<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <servlet>
    <display-name>Title</display-name>
    <servlet-name>Title</servlet-name>
    <servlet-class>com.bridge.Title</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Title</servlet-name>
    <url-pattern>/Title</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>TriggerAccount</display-name>
    <servlet-name>TriggerAccount</servlet-name>
    <servlet-class>com.bridge.TriggerAccount</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TriggerAccount</servlet-name>
    <url-pattern>/TriggerAccount</url-pattern>
  </servlet-mapping>
</web-app>